/* * Recherche bar */

.container-dashboard-admin {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: var(--secondary-color-2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  width: 80%;
  margin: 10% auto;
  border-radius: 10px;
  height: 90vh;
}

.container-dashboard-admin > label:first-of-type {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-family: var(--font-secondary);
}

.container-dashboard-admin > input {
  text-align: center;
  margin: 0 auto;
  font-family: var(--font-secondary);
  border-radius: 10px;
  background-color: var(--primary-color);
  border: solid black 1px;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 80%;
}

.container-dashboard-admin > menu {
  overflow-y: auto;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  width: 75%;
  max-height: 20em;
  margin: 2em auto;
  border-radius: 15px 0 0 15px;
  padding: 0px 10px 0 15px;
  box-sizing: border-box;
  background-color: var(--primary-color);
  /* Principal */
  & ul {
    padding: 0 0 0 0;
    width: 90%;
  }
  & ul > li {
    margin: 10px 0 auto;
  }
}

/* * Scroll utilisateur */

.container-dashboard-admin > menu::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

.container-dashboard-admin > menu::-webkit-scrollbar-track {
  background: gray;
}

.container-dashboard-admin > menu::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); /* Couleur de la scrollbar */
  border-radius: 10px;
}

.container-dashboard-admin > menu > ul > li > button {
  font-size: 20px;
  height: 40px;
  width: 100%;
  font-family: var(--font-secondary);
  background: white;
  border-radius: 10px;
}
.container-dashboard-admin > menu > ul > li > button:hover {
  border-bottom: solid 5px red;
}

/*  * User Card */

.container-dashboard-admin > section:first-of-type {
  display: flex;
  gap: 15px;
  padding: 15px;
  width: 90%;
  height: 20%;
  background-color: var(--primary-color);
  margin: 0 auto;
  border-radius: 10px;
  color: white;
  & figure {
    margin: 0 auto;
    align-content: center;
  }
  & article {
    font-size: 16px;
    align-content: center;
    margin: 0 0 10px 0;
  }
}

.container-dashboard-admin > section:first-of-type > figure > img {
  width: 120px;
  height: 120px;
}

/*  * User account management */

.container-dashboard-admin > section:last-of-type {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0 auto;
  font-family: var(--font-primary);
  gap: 20px;
  width: 100%;
  padding: 30px 20px;
  & legend {
    background-color: var(--secondary-color-1);
    width: 50%;
    height: 50px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  }
  & .button-delete-user {
    width: 50%;
    height: 50px;
    font-family: var(--font-primary);
    font-size: 16px;
    padding: 0;
    border-radius: 10px;
    background-color: var(--secondary-color-1);
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  }
}

/* * Overlay user delete */

.overlay-user-delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  background: rgba(0, 0, 0, 0.241);
  backdrop-filter: blur(5px);
  display: block;
  z-index: 3;
}

/* * Toggle switch */

.container-toggle-switch {
  display: inline-block;
  margin: 0 0 0 10%;
  position: relative;
  width: 30%;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
}

.container-toggle-switch input {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 0;
  height: 0;
}

.container-toggle-switch input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ff0000;
  font-size: 0;
  border-radius: 20px;
}

.container-toggle-switch input:checked + span {
  background: #00740e;
}

.container-toggle-switch input + span:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all .5s;
}

.container-toggle-switch input:checked + span:before {
  left: calc(100% - 36px);
}
