.container-user-recipes {
  width: 100%;
  margin: 0 auto;
  & section {
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 60%;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 0 0 20px 20px;
    padding: 10 0 0 0px;
  }
  & a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 16px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
  }
}
