.container-recipe-description {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  width: 90%;
}

.container-recipe-ingredient-preparation {
  width: 95%;
  margin: 0% auto;
}
