.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background);
}
.login-subheading {
  margin-bottom: 10px;
  color: var(--color-primary);
  width: 300px;
  text-align: center;
  padding-bottom: 36px;
}

.login-label {
  font-size: 1rem;
}
.generic-input {
  margin-bottom: 10px;
  background-color: var(--principalElements);
  width: 80%;
  height: 32px;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-radio {
  text-decoration: none;
}

input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--secondaryColor);
}

.login-form > fieldset {
  border: none;
  display: flex;
  gap: 32px;
}

.submit-button {
  margin-top: 10px;
  background-color: var(--principalElements);
  color: var(--principalColor);
  border: none;
  border-radius: 16px;
  width: 124px;
  height: 32px;
  font-size: 1rem;
  font-weight: var(--body-font-bold);
  /* debut de hover effect */
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;

  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -o-linear-gradient(
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );

  -moz-background-size: 250% 250%, 100% 100%;
  background-size: 250% 250%, 100% 100%;

  -webkit-transition: background-position 0s ease;
  -moz-transition: background-position 0s ease;
  -o-transition: background-position 0s ease;
  transition: background-position 0s ease;
}

.submit-button:hover {
  background-color: var(--secondaryElements);
  border: solid 2px var(--secondaryColor);
  /* debut de hover effect */
  background-position: 0 0, 0 0;

  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

textarea:focus,
input:focus {
  outline: var(--secondaryColor) auto 5px;
  background-color: var(--secondaryElements);
}
