.home-recette-semaine {
  background-color: rgb(27, 47, 64);
  width: 70%;
  height: 30px;
  margin: 0 auto;
  align-content: center;
  padding: 0;
  border-radius: 15px 15px 0 0;
  border: none;
  & h2 {
    color: white;
    font-size: 16px;
    text-align: center;
  }
}

/*  * Carousel */

.container-carousel {
  background-color: rgb(27, 47, 64);
  margin-top: -1px;
  padding: 0;
  height: 38vh;
  width: 100%;
}

.carousel-items {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  border: none;
  list-style: none;
  height: 100%;
  margin: 0 auto;
  padding: 1rem 0;
}
.carousel-item {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  scroll-snap-align: center;
  & img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
.carousel-item > div {
  width: 100%;
  height: 18em;
}
.container-points {
  height: 4vh;
  align-content: center;
  & .first-carousel > a:first-child {
    border: solid orange 7px;
  }
  & .second-carousel > a:nth-of-type(2) {
    border: solid orange 7px;
  }
  & .third-carousel > a:last-child {
    border: solid orange 7px;
  }
}

.container-points > ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 0;
  padding: 0;
  & a {
    border-radius: 10px;
    border: solid white 7px;
  }
}

::-webkit-scrollbar {
  background-color: #f5f5f5;
  display: none;
}
