.home-recipe-week {
  background-color: rgb(27, 47, 64);
  width: 70%;
  height: 30px;
  margin: 0 auto;
  align-content: center;
  padding: 0;
  border-radius: 15px 15px 0 0;
  border: none;
  & h2 {
    color: white;
    font-family: var(--font-secondary);
    font-size: 16px;
    text-align: center;
  }
}

/*  * Carousel */

.container-carousel {
  background-color: rgb(27, 47, 64);
  padding: 0;
  margin-top: -1px;
  height: 35vh;
  width: 100%;
}

.carousel-items::-webkit-scrollbar {
  display: none;
}

.carousel-items {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  border: none;
  list-style: none;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0 0px 0;
}
.carousel-item {
  height: 100%;
  width: 100%;
  transition: 0.6s ease-in;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  scroll-snap-align: center;
  & img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
.carousel-item > div {
  width: 100%;
  height: 18em;
}
.container-points {
  display: none;
}

/* * Responsive Desktop */

@media screen and (min-width: 440px) {
  .home-recipe-week {
    width: 50%;
    height: 50px;
    & h2 {
      margin: 15px auto;
      font-size: 42px;
    }
  }
  .container-carousel {
    height: 100%;
  }

  .carousel-item > div {
    height: 70%;
  }
  .carousel-item > div > img {
    width: 100%;
    height: 90vh;
    max-height: 80%;
    object-position: center;
    object-fit: cover;
    margin: 3em 0 0 0;
    filter: drop-shadow(0 0 0.75rem rgba(50, 49, 49, 0.715));
  }
  .container-points {
    display: block;
    align-content: center;
    height: 4em;
    background-color: rgb(27, 47, 64);
  }

  .container-points > ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 0;
    padding: 0px;
    & a {
      border-radius: 15px;
      border: solid white 15px;
      text-decoration: none;
    }
  }
}
