.container-delete-users {
  display: inline-block;
  justify-items: center;
  align-content: center;
  position: absolute;
  z-index: 3;
  padding: 10px;
  background: var(--secondary-color-2);
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  width: 85%;
  height: 20%;
  top: 50%;
  & h3 {
    text-align: center;
    font-family: var(--font-primary);
  }
  & button {
    margin: 20px;
    font-family: var(--font-secondary);
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 100px;
  }
}
