/* <------ Nav ----->*/

.main-nav {
  background-color: var(--primary-color);
  color: var(--secondary-color-2);
  max-height: 194px;
}

.bar2 {
  display: none;
}
.logo-header {
  width: 100px;
}

.nav-button {
  padding: 5px 15px;
  border-radius: 10px;
}

.about {
  display: none;
  min-width: 88px;
}

nav ul {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 40px;
}

header nav ul li:first-child {
  padding-right: 30px;
}

.search-container1 {
  display: flex;
  margin-top: 10px;
}

.logo-header {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .about {
    display: flex;
    flex: flex-end;
  }

  .search-container1 {
    margin-top: 0px;
  }

  .bar1 {
    display: none;
  }

  .bar2 {
    display: flex;
    flex-basis: 70%;
    margin-top: 30px;
  }

  .search-container2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
