.container-ingredients-season {
  width: 100%;
  border-width: 5px 0;
  border-style: solid;
}

.container-ingredients-season > ul {
  display: flex;
  text-align: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  gap: 30%;
  padding: 20px 20%;
}

.container-ingredients-season > ul > li {
  display: block;
  max-width: 250px;
  max-height: 250px;
  background-color: var(--secondary-color-2);
  padding: 10px;
  border-radius: 20%;
  border: 5px solid rgba(61, 61, 61, 0.242);
  flex-shrink: 0;
  flex-basis: 100%;
  scroll-snap-align: center;
  & img {
    max-width: 80%;
    max-height: 80%;
  }
}

.container-ingredients-season figcaption {
  font-size: 20px;
}
