.container-not-found {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  max-width: 100%;
  max-height: 100%;
  font-family: var(--primary-fond);
}
.container-not-found > article {
  display: block;
  text-align: center;
  & h1 {
    font-size: 32px;
    margin: 10px 0px;
  }
  & p {
    font-size: 24px;
  }
  & a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
  }
}
.container-not-found > picture {
  width: 16em;
  padding: 0;
  & img {
    width: 100%;
    height: 100%;
  }
}

/* * Responsive Desktop */

@media screen and (min-width: 440px) {
  .container-not-found {
    gap: 10em;
    flex-direction: row;
  }
  .container-not-found > picture {
    width: 30em;
  }
  .container-not-found > article {
    max-width: 100%;
    height: 100%;
    & h1 {
      font-size: 64px;
    }
    & p {
      font-size: 32px;
    }
    & a {
      font-size: 16px;
    }
  }
}
