.container-recipes-season {
  width: 100%;
  height: 100%;
}

/* * Title */

.container-recipes-season > section:first-child {
  background-color: var(--secondary-color-2);
  width: 90%;
  margin: 2em auto;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.container-recipes-season > section > h2 {
  font-size: 32px;
}

/* * Carousel season */

.container-recipes-season > ul {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 100%;
  margin: 4em 0 0 0;
  list-style: none;
  gap: 25%;
  padding: 20%;
}

.container-recipes-season > ul::-webkit-scrollbar {
  display: none;
}

.container-recipes-season > ul > li {
  display: block;
  margin: 15px;
  flex-shrink: 0;
  flex-basis: 80%;
  scroll-snap-align: center;
}

/* * Responsive */

@media screen and (min-width: 440px) {
  .container-recipes-season {
    height: 100%;
    & section:first-child {
      margin: 10em auto;
    }
  }
  .container-recipes-season > section > h2 {
    font-size: 42px;
    font-family: var(--font-secondary);
  }
  .container-recipes-season > ul {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 4% 0 3% 0;
    overflow-x: visible;
    gap: 9em 0px;
    scroll-snap-type: none;
    & li {
      flex-basis: auto;
      margin: 0 auto;
    }
  }
}
