.search-filter-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.input-wrapper {
  background-color: rgb(255, 255, 255);
  width: 85%;
  border-radius: 20px;
  height: 2.5rem;
  padding: 0 15px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  top: -10px;
}

.input-header {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 10px;
}

.input-header:focus {
  outline: none;
}

#search-icon {
  color: #aaa;
  font-size: 1.5rem;
}

.results-section {
  background-color: white;
  color: black;

  border-radius: 10px;
  padding: 5px 0;
}

.recipe-results {
  padding: 10px 20px;
  font-size: 1.25rem;
  background-color: white;
  color: black;
  width: 350px;
  border-radius: 10px;
  padding: 10px 10;
}

.recipe-results:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
